*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.xml
*.iml
*.name

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Lab2/Lab2/nbproject/private/
/lab2/Lab2/nbproject/private/
\Lab2\nbproject\
\Lab2\manifest.mf
\Lab2\build.xml
\Lab2\build\
\Lab2\.idea
\Lab2\out
